## Modules
To use a module in a Python program it first has to be imported.
A module can be imported using the import statement.
For example, to import the module math, which contains many standard mathematical functions, we can do:

In [2]:
import math
x=math.cos(2*math.pi)
print(x)

1.0

In [3]:
# to see all functions
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

## Variables and Types:
## Symbol Names
Keywords that cannot be used as variable names:
and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield
## Assignment
The assignment operator in Python is =. 

Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a variable creates or updates the variable:

In [5]:
a=5
print(a)
print(type(a))

b=17.0
print(b)
print(type(b))

5
<class 'int'>
17.0
<class 'float'>

## Oprerators and Comparisons
Most operators and comparisons in Python work as one would expect:

Arithmetic operators +,-,*,/,//(integer division),**(rasie to power)

In [7]:
#tuple of int
x=(1 + 2, 1 - 2, 1 * 2, 1 / 2)
type(x)

tuple

In [8]:
#tuple of float
y=(1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0)
type(y)

tuple

## Boolean operators
bool, Logical value indicating True or False

They are spelled out as the words: and, not, or

True and False must be typed as uppercase

In [11]:
not True

False

In [13]:
True or False
#if first is true then the statement ends

True

## Comparison Operators
x>y - x is greater than y

x<y - x is less than than y

x>=y - x is greater than or equal to y

x<=y - x is less than or equal y

x==y - x is equal to y
x is y - x and y are identical

In [15]:
2<3

True

In [16]:
2<=2

True

## Compound Types: Strings, Lists, and Dictionaries
Strings:
str, Ordered sequence of characters: 'hello' 'hola' 'ohio'

In [18]:
a="Hello World"
print(a)
print(type(a))
# length of the string: the number of characters, len()
print(len(a))

Hello World
<class 'str'>
11

In [20]:
#Replace a substring in a string with something else
a2=a.replace("World", "Baby")
print(a2)

Hello Baby

## Slicing
We can index part of a string by using the syntax [start:stop]

This extracts the characters between index start and stop-1 

**The character at index stop is not included.**

The same methods can be used when slicing lists and strings.

Returns a *slice object* representing the set of indices specified  by:
    range(start, stop, step)

In [21]:
a[0:2]

'He'

In [23]:
#When the step is 1, every character is printed.
a[::1]

'Hello World'

In [24]:
#When the step is 2, every second character is not printed.
a[::2]

'HloWrd'

## Lists:
Ordered seqence of objects

Like STRINGS except that each element can be of any type

Elements are separated by commas

Lists are mutable: We can modify them by assigning new values 
to elements in the list

In [26]:
x=["bbbb","hello",89.6]
print(x)
print(type(x))

['bbbb', 'hello', 89.6]
<class 'list'>

In [27]:
b = [1,2,3,4]
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4]

In [28]:
#SLICE
print(b[1:3])
print(b[::2])

[2, 3]
[1, 3]

In [30]:
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(10,30,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Adding, inserting, modifying, and removing elements from lists¶

In [33]:
#Create a new empty list
l=[]

In [34]:
#Add an element using 'append'
l.append("b")
l.append("r")
l.append("a")

print(l)

['b', 'r', 'a']

In [35]:
#Modify list by assigning new values to elements in the list
l[1]='o'
l[2]='o'

l

['b', 'o', 'o']

In [36]:
#Insert an element at an specific index using insert

l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'b', 'o', 'o']

In [37]:
print(l[-2:])

['o', 'o']

## Remove first element with specific value using 'remove'

In [39]:
l.remove("o")

In [40]:
l

['i', 'n', 's', 'e', 'r', 't', 'b', 'o']

In [42]:
#Remove an element at a specific location using del:
del l[1]

## Tuples
Ordered objects like lists, except they have ( ) parenthesis instead of [ ] brackets or they are separated by commas

Immutable: they cannot be modified once they are created

Ex: 1,2,3 or (1,2,3)

In [43]:
x= 1,2,3
x

(1, 2, 3)

In [44]:
#We can unpack a tuple by assigning it to a comma-separated list of variables:
point= 10, 20
x,y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

## Dictionaries
dict, Unordered Key: Value pairs:

Like lists, except that each element is a key-value pair. 

The syntax for dictionaries is {key1:value1, ...}:

In [45]:
dicts = {"parameter1" : 4.0,
          "parameter2" : 6.0,
          "parameter3" : 8.0,}

print(type(dicts))
print(dicts)

<class 'dict'>
{'parameter1': 4.0, 'parameter2': 6.0, 'parameter3': 8.0}

In [46]:
print("parameter1 = " + str(dicts["parameter1"]))
print("parameter2 = " + str(dicts["parameter2"]))
print("parameter3 = " + str(dicts["parameter3"]))

parameter1 = 4.0
parameter2 = 6.0
parameter3 = 8.0

In [47]:
#change parameter 1 and 2
dicts["parameter1"] = "A"
dicts["parameter2"] = "B"

# add a new entry
dicts["parameter4"] = "D"

print("parameter1 = " + str(dicts["parameter1"]))
print("parameter2 = " + str(dicts["parameter2"]))
print("parameter3 = " + str(dicts["parameter3"]))
print("parameter4 = " + str(dicts["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 8.0
parameter4 = D

## Type Casting

In [48]:
x=1.5
print(x,type(x))

1.5 <class 'float'>

In [49]:
x=int(x)
print(x,type(x))

1 <class 'int'>

In [50]:
z=complex(x)
print(z,type(z))

(1+0j) <class 'complex'>

In [51]:
y=bool(z.real)

In [52]:
print(z.real, "-->", y, type(y))

1.0 --> True <class 'bool'>

## Control Flow
## Conditional Statements: if, elif, else
The Python syntax for conditional execution of code uses the keywords:
if
elif (else if)
else:

In [53]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [54]:
statement1 = True 

if statement1:
    print("printed if statement1 is True")
    
    print("still inside the if block")

printed if statement1 is True
still inside the if block

In [55]:
statement1 = False
if statement1:
    print("printed if statement1 is True")
    
print("now outside the if block")

now outside the if block

## 'For' Loops
"for" "in" are used to make a loop with iterable objects such as lists [ ] or range(number)

In [56]:
for x in [1,2,3]:
    print(x)

1
2
3

In [57]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

In [59]:
for word in ["today","is","a","good","day"]:
    print(word)

today
is
a
good
day

In [60]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

## List comprehensions: Creating lists using for loops:
a convenient and compact way to initialize lists:

In [62]:
#list will be compacted as a range
a = [x**2 for x in range(0,5)]
print(a)

[0, 1, 4, 9, 16]

## 'while' loops:

In [63]:
a = 0

while a < 3:
    print(a)
    
    a = a + 1
    
print("done")

0
1
2
done