# Strings

In [3]:
s = '''hello, 
how are you?'''

Triple quotes allows strings to span more than one line

In [4]:
a = "hello"

In [5]:
a[0]

'h'

In [6]:
a[1]

'e'

In [7]:
a[2]

'l'

Strings are collections like lists. They can be indexed and sliced using the same syntax and rules.

In [8]:
a = "hello, world"

In [9]:
a[2] = 'z'

TypeError: 'str' object does not support item assignment

one cannot modify the content of a string. It is possible to create new strings from the original one.

In [10]:
a.replace('l', 'z', 1)

'hezlo, world'

In [11]:
a.replace('l', 'z')

'hezzo, worzd'

in the first example we defined that we wanted to replace only one of the 'l' not all of them. In the second example we did not put a limit on the amount of 'l's that were to be replaced, hence the program replaced them all.

In [12]:
a.replace('l', 'z', 2)

'hezzo, world'

In [14]:
i = 102
filename = 'processing_of_dataset_%d.txt' % i

In [15]:
filename

'processing_of_dataset_102.txt'

integer: %i
float: %f
another string: %s

%s acts as a placeholder for a string while %d acts as a placeholder for a number

In [16]:
print('%s is %d years old' % ('Joe', 42))

Joe is 42 years old

In [19]:
filename = 'processing_of_dataset_%d.txt' % (125)

In [24]:
filename

'processing_of_dataset_125.txt'

# Tuples

In [21]:
t = 12345, 54321, 'hello!'

In [22]:
t[0]

12345

In [23]:
t

(12345, 54321, 'hello!')

Tuples are immutable lists. The elements of a tuple are written between parentheses, or just separated by commas

# Sets

unordered, unique items

In [25]:
s = set(('a', 'b', 'c', 'a'))

In [26]:
s

{'a', 'b', 'c'}

In [27]:
s.difference(('a','b'))

{'c'}

 # Control Flow

In [28]:
if 2**2 == 4:
    print('Obvious!')

Obvious!

In [29]:
a = 10

if a == 1:
    print(1)
elif a == 2:
    print(2)
else:
    print('A lot')

A lot

In [36]:
if (2**2 == 5):
    print('yes')
elif (2**2 == 4):
    print('heck no')
else:
    print('no')

heck no

In [37]:
if (2**2 == 5):
    print('yes')
elif (2**2 + 2 == 6):
    print('heck no')
else:
    print('no')

heck no

In [40]:
if (2**2 == 5):
    print('yes')
elif (2**2 < 5):
    print('heck no')
else:
    print('no')

heck no

if statement means that if x it's true then it gives a certain result

elif statement means else if, which meanse that if a previous if statment is false then this is the go to

else statment means that if none of the previous statements work then it will execute this command

# For

In [30]:
for i in range(4):
    print(i)

0
1
2
3

range(min_value, max_value)

range(max_value) generates a sequence of numbers assuming min_value is zero

In [31]:
for i in range (4, 8):
    print(i)

4
5
6
7

In [33]:
for word in ('cool', 'powerful', 'readable'):
    print('Python is %s' % word)

Python is cool
Python is powerful
Python is readable

In [43]:
from math import *

In [44]:
a = (122, 34, 21)

In [50]:
for i in a:
    print(2*pi+sqrt(i))

17.328546324366847
12.114137202024887
10.865761002135425

In [61]:
g = ['one', 'two', 'three', 'four', 'five']

In [83]:
for i in g:
    print(g[::2])

['one', 'three', 'five']
['one', 'three', 'five']
['one', 'three', 'five']
['one', 'three', 'five']
['one', 'three', 'five']

In [82]:
for i in range(1):
    print(g[::2])

['one', 'three', 'five']

In [100]:
for i in [0,2,4]:
    print(g[i])

one
three
five

# while/break/continue

In [41]:
z = 1 + 1j
while abs(z) < 100:
    z = z**2 + 1

In [42]:
z

(-134+352j)

In [102]:
z = 1 +1j

while abs(z) < 100:
    if z.imag == 0:
        break
    z = z**2 + 1

In [103]:
a = [1, 0, 2, 4]
for element in a:
    if element == 0:
        continue
    print(1. / element)

1.0
0.5
0.25

In [3]:
a = 2

In [3]:
print(a)

2

In [4]:
while (a<5):
    print(a)
    a = a + 1

2
3
4